{% extends "idglobal/layout.html" %}
{% load static %}

{% block body %}
    <body>
    <p id="STD_IMAGE" style="width: 40%;"><img src="{% static 'idglobal/environtmental_stew_main.jpg' %}" class="img-fluid alt=" Responsive image"></p>
    <a style="font-size: small;">Global Environmental Stewardship</a> <br>
    <a style="font-size: x-small;"> How can we design learning experiences that help create a bridge between developing a love, respect and appreciation for nature and nurturing children’s capacity to live in and care for the planet? How early in life can we begin? <br>
        What habits of mind and heart will matter most to cultivate globally competent and environmentally active youth? <br>
        What do we as adults stand to learn from our youngest citizen for whom nature feels like home? <br>
        </a>
    <br>
    <p style = "clear:left;">
    <a style = "margin-top: 20px; margin-bottom: 5px; color: rgb(89, 152, 116); font-size: 15px;">Related Resources:</a>
    </p>
    <a style = "font-size: 12px;" href="{% static 'idglobal/Mindfulness_Tasks.pdf' %}" download>Mindfulness Test</a> 
    </body>
{% endblock %}
