{% extends "idglobal/layout.html" %}
{% load static %}

{% block body %}
    <body>
    <p id="STD_IMAGE" style="width: 50%;"><img src="{% static 'idglobal/US_CHINA_MAIN2.jpg' %}" class="img-fluid alt=" Responsive image"></p>
    <br>
    <a style="font-size: small;"> Seeks to ensure that young people grow up understanding migration as a shared condition of our past, present, and future in order to develop the knowledge, empathy and mindsets that sustain inclusive and welcoming communities.</a>
    <br>
    <p style = "clear:left;">
    <a style = "margin-top: 20px; margin-bottom: 5px; color: rgb(89, 152, 116); font-size: 15px;">Related Resources:</a>
    </p>
    <a style = "font-size: 12px;" href="{% static 'idglobal/Mindfulness_Tasks.pdf' %}" download>Mindfulness Test</a> 
    </body>
{% endblock %}
